$primary: #838485;
$large-font: 4.5rem;
$title-font: 3.5rem;
$subtitle-font: 2.5rem;
$para-font: 1.5rem;
.feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background: url(tour42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    h1 {
        font-size: $title-font;
        text-align: center;
        margin: auto;
        padding-top: 2%;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: .3rem;
        color: white;
    }
    h2 {
        font-size: $subtitle-font;
        text-align: center;
        margin: auto;
        padding: 1rem;
        font-family: 'Permanent Marker', cursive;
    }
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        top: 10%;
    }
    #map {
        width: 75vw;
        height: 70vh;
    }
}