* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 90vw;
  margin: auto;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 1095px) {
  html {
    font-size: 60%;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background: url(tour3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* h1 {
        font-size: $large-font;
        text-align: center;
        padding-top: 2%;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: .3rem;
    } */
}

.home h2 {
  font-size: 4.5rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px #4fa4fad2;
}

.home .home h1,
.home .home h2 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 932px) {
  .home h2 {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 4.5rem;
  }
}

.main-head {
  background: #4fa4fae3;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.main-head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  z-index: 4;
}

.main-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.main-head #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  color: white;
  font-size: 3.5rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.678);
  padding: .5rem;
  margin-left: 3%;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .5rem;
}

.main-head #logo:hover {
  color: white;
}

.main-head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
}

.main-head nav li a:hover {
  color: white;
}

@media screen and (max-width: 932px) {
  nav {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav li a {
    font-size: 2rem;
  }
  #logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: none;
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: url(tour55.jpg);
  font-family: 'Permanent Marker', cursive;
}

.reviews .reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  grid-gap: 1rem;
}

.reviews h3 {
  color: white;
}

.reviews p {
  color: white;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px black;
}

.reviews .sales-image-one {
  width: 65%;
}

.reviews .sales-image-two {
  width: 75%;
}

@media screen and (max-width: 932px) {
  .reviews p {
    color: black;
    text-shadow: 2px 2px white;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #333333;
  min-height: 80vh;
}

.contact h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-top: 3rem;
  font-family: 'Permanent marker', cursive;
}

.contact p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  color: white;
  font-size: 2.5rem;
}

.contact .form-wrapper {
  width: 60%;
  color: white;
}

.contact .form-head {
  text-align: center;
  padding: 2rem;
}

.contact .email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.contact .form-wrapper button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem;
  border: 4px solid #d3d2d2;
  font-size: 2rem;
  font-weight: 700;
}

.contact .form-wrapper input {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.contact .form-wrapper button:hover {
  background-color: black;
  color: white;
}

.contact .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 80%;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact img {
  width: 25%;
}

.contact .social-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background: url(tour42.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.feed h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: auto;
  padding-top: 2%;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .3rem;
  color: white;
}

.feed h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
}

.feed .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  top: 10%;
}

.feed #map {
  width: 75vw;
  height: 70vh;
}

.sug-tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  background: url(tour44.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.sug-tours h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: auto;
  padding-top: 2%;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: .3rem;
  color: white;
}

.sug-tours h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
}

.sug-tours .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  top: 10%;
}

.sug-tours #map {
  width: 75vw;
  height: 70vh;
}

.insta {
  min-width: 90vw;
  min-height: 100vh;
  margin: auto;
  color: black;
  background: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.insta img {
  width: 25%;
  overflow: hidden;
}

.insta h1 {
  font-size: 3.5rem;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Permanent Marker';
}

@media screen and (max-width: 932px) {
  .instafeed-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
  }
  img {
    min-width: 90%;
  }
}
/*# sourceMappingURL=styles.css.map */