$primary:#4fa4fad2;
$large-font: 4.5rem;
$title-font: 3.5rem;
$subtitle-font: 2.5rem;
$para-font: 1.5rem;
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    background: url(/images/tour3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    justify-content: center;
    /* h1 {
        font-size: $large-font;
        text-align: center;
        padding-top: 2%;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: .3rem;
    } */
    h2 {
        font-size: $large-font;
        text-align: center;
        padding: 1rem;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 2px 2px $primary;
    }
    .home h1,
    .home h2 {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 932px) {
    .home h2 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px rgb(0, 0, 0);
        font-size: $large-font;
    }
}