$primary: #838485;
$large-font: 4.5rem;
$title-font: 3.5rem;
$subtitle-font: 2.5rem;
$para-font: 1.5rem;
.insta {
    min-width: 90vw;
    min-height: 100vh;
    margin: auto;
    color: rgb(0, 0, 0);
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
        width: 25%;
        overflow: hidden;
    }
    h1 {
        font-size: $title-font;
        margin: 1rem;
        padding: 1rem;
        font-family: 'Permanent Marker';
    }
}

@media screen and (max-width: 932px) {
    .instafeed-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2rem;
    }
    img {
        min-width: 90%;
    }
}